@page
@using ContosoCrafts.WebSite.Components
@model RegionModel
@{
    ViewData["Title"] = "Region";
}

<div class="padding-bottom-lg">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-4"></div>
        <div class="col-sm-8 col-md-6 col-lg-4">
            @using (Html.BeginForm(FormMethod.Get))
            {
                @Html.Hidden("region", Model.region)
                <div class="input-group mb-3">
                    <input id="search" type="text" class="form-control" asp-for="@Model.search" placeholder="Find fish..." asp->
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Search</button>
                        <button class="btn btn-danger" type="submit" onclick="$('#search').val('')">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="region-container">
    <h1 id="header1"><b><u>@Model.region</u></b></h1>
    <p id="region-welcome">
        <b>
            Welcome to the region guide for @Model.region! Below you will find 3 fish ratings
            that each contain the fish and their details for your region. To view the information, click on the buttons to expand the ratine.
            Within each card, you can find more information by clicking on the "More Info" button.
            Thank you for your dedication to sustainable seafood!
        </b>
    </p>
    <h1 style="text-align:center"><b>Fish Ratings</b></h1>
</div>
<body id="mainPageBody">
</body>

<!--This is a page template so we can create new pages for guides and edit as needed-->
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered, new { region = Model.region, search = Model.search}))

<script src="_framework/blazor.server.js"></script>