@page
@using ContosoCrafts.WebSite.Components
@using ContosoCrafts.WebSite.Models;
@using ContosoCrafts.WebSite.Data
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a New Record</h1>

@if (Model.error != null)
{
    <h2>@Model.error</h2>
}
else
{
    @using (Html.BeginForm())
    {

        <div class="form-group">
            <label>ID</label>

            <input class="form-control" type="text" asp-for="Product.Id" value="@System.Guid.NewGuid().ToString()" readonly>
        </div>
        <div class="form-group">
            <label>Region</label>
            <!--<input class="form-control" type="text" asp-for="Product.Region" value ="Default"> -->
            <!-- Automatically parse from already available list of regions supported-->
            
    <!-- BUG ERROR!Comment out the region code as it is causing the page load to fail when clicking on the Create button
                {
        //var temp = Model.ProductService.GetAllRegions();
        ProductModel temp = new ProductModel();

        (string region in temp.Regions)
        {
            <div class="form-check">
                <input asp-for="Product.Region" type="radio" value="region">
                <label class="form-check-label">
                    region
                </label>
            </div>
        }
    }-->

        </div>
        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="text" asp-for="Product.Image">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" asp-for="Product.Title" value="Enter Title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" asp-for="Product.Description" value="Enter Description">
        </div>

        <div class="form-group">
            <label asp-for="Product.Rating" class="control-label"></label>
            <div class="form-check">
                <input asp-for="Product.Rating" type="radio" value="@Product_Rating.AVOID">
                <label class="form-check-label" for="gridRadios1">
                    AVOID
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Product.Rating" type="radio" value="@Product_Rating.GOOD_ALTERNATIVE">
                <label class="form-check-label" for="gridRadios2">
                    GOOD ALTERNATIVE
                </label>
            </div>
            <div class="form-check">
                <input asp-for="Product.Rating" type="radio" value="@Product_Rating.BEST_CHOICE">
                <label class="form-check-label" for="gridRadios3">
                    BEST CHOICE
                </label>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" id="Submit">
    }
}
